* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #BEA6CE;
}

/* navigation bar */

nav {
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    margin: 0 11px;
    padding: 0 7px;
    text-decoration: none;
    font-size: 1rem;
    color: #431519;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: rgb(150, 40, 253);
}

/* sidebar */

.sidebar {
    position: fixed;
    top: 50px;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: #BEA6CE;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    padding: 0 20px;
    margin: 0;
    width: 100%;
}

/* menu bar toggle */

.menu-icon, .close-icon {
    display: none;
    margin-left: auto;
}

@media(max-width: 800px) {
    .hideOnMobile{ 
        display: none;
    }    
    .menu-icon {
        display: block;
    }
}

.hideMenuIcon {
    display: none;
}

.showCloseIcon {
    display: block;
}

.hideShowSideBar {
    display: flex;
}